<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="pattern" value="%d %p %c{1.} [%t] %m%n" />

    <appender name="consolePender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="root" additivity="false" level="info">
        <appender-ref ref="consoleAppender"/>
        <!--<appender-ref ref="consolePender"/>-->
    </logger>

</configuration>